.DS_Store
.ipynb_checkpoints
data.code-workspace
.venv
/datasets/endomondoHR.json
/datasets/transactions.csv
buddy/risk/KERTAS KERJA BOOKING.xlsx
buddy/risk/modeling_darren copy.ipynb
buddy/risk/modeling_darren.ipynb
buddy/credit_development/question answer all imove december.xlsx
buddy/credit_development/question_answer_imove.xlsx
buddy/credit_development/data kontrakdec 24.xlsx
buddy/credit_development/order jan 25 dan CAWP EDITED MATCH NOT MATCH ANTARA CAWP DAN ORDER STATUS AKHIR.xls
buddy/credit_development/handaru_fm_verification_model_2.ipynb
buddy/credit_development/handaru_fm_verification_model.ipynb
buddy/credit_development/fm_verification_model.ipynb
buddy/credit_development/20252304.xlsx
buddy/credit_development/DETAIL BA-2 ALL CL FEB.xlsx
buddy/credit_development/fm verification model (edited) .ipynb
buddy/credit_development/2.0.0
buddy/credit_development/fm verification model pake random search copy.ipynb
buddy/credit_development/fm verification model pake random search.ipynb
buddy/credit_development/question answer contract no dec 2024.xlsx
